.about {
  height: 50dvh;
  background-color: var(--bg-accent-color);
}

.container {
}

.infoWrapper {
  height: 100%;
  display: flex;
  justify-content: space-between;
  gap: 50px;
  align-items: center;
}
