h3 {
  text-align: center;
}

.logo {
  font-family: 'Sree Krushnadevaraya', sans-serif;
  color: var(--text-hover-color);
  font-size: 1.8rem;
  line-height: 2.2rem;
}

@media (max-width: 500px) {
  .logo {
    font-size: 1.5rem;
    line-height: 1.6rem;
  }
}
